body {
    text-align: center;
    background-color: rgb(230, 157, 169);
}

main {
    width: 750px;
    margin: 200px auto 50px auto;
    padding: 250px auto;
    border: 5px solid rgba(255, 47, 47, 0.5);
    border-radius: 25px;
    background-color: rgb(234, 230, 169);
}

img {
    height: 210px;
    width: 210px;
    border-radius: 110px;
    border: 5px solid rgba(255, 47, 47, 0.5);
    margin: -100px auto 25px auto;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    color: rgb(41, 40, 40);
}

p {
    font-size: 20px;
    font-family: "Lora", sans-serif;
}

#foot {
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    color: rgb(251, 39, 74);
}

span {
    color: rgb(251, 39, 74);
}

a {
    text-decoration: none;
    color: rgb(251, 23, 23);
}

a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}